WebMVCContacts/Service References/WcfClientRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfContactService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfContactService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContactModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactModel" nillable="true" type="tns:ContactModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactModel" nillable="true" type="tns:ArrayOfContactModel" />
  <xs:complexType name="ContactModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactModel" nillable="true" type="tns:ContactModel" />
</xs:schema>